<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>DEPARTMENT'S LIST</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <h2>DEPARTMENT'S LIST</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Department ID</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="departments : ${department}">
            <td th:text="${departments.department_id}"></td>
            <td th:text="${departments.department_name}"></td>
        </tr>
        </tbody>
    </table>
    
    <a href="/department/new" class="btn btn-primary">Add New Department</a>
</div>
</body>
</html>
