<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
  <title>REST Consumer</title>

  <!-- CSS stylesheets -->
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- JavaScript libraries -->
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
  <div th:replace="fragments/header :: header"></div>

  <div class="container-fluid" style="max-width: 900px; margin: 0 auto;">
    <h2 class="text-center">List of Patient</h2>

    <!-- Success message -->
    <div th:if="${message != null}" class="alert alert-success alert-dismissible fade show text-center message"
      role="alert">
      [[${message}]]
      <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <!-- Patient table -->
    <div th:if="${patient.size() > 0}">
      <table class="table table-hover table-responsive-xl">
        <thead class="thead-light">
          <tr>
            <th scope="col">Patient ID</th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">Age</th>
            <th scope="col">Gender</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <!-- Iterate over patient list -->
          <tr th:each="patients : ${patient}">
            <th scope="row">[[${patients.patient_id}]]</th>
            <td>[[${patients.patient_name}]]</td>
            <td>[[${patients.patient_phone}]]</td>
            <td>[[${patients.patient_address}]]</td>
            <td>[[${patients.patient_age}]]</td>
            <td>[[${patients.patient_gender}]]</td>
            <td>
              <a th:href="@{'/patient/' + ${patients.patient_id}}" title="Edit this patient"
                class="fa-regular fa-pen-to-square icon-dark"></a>
              &nbsp;
              <a th:href="@{'/patient/delete/' + ${patients.patient_id}}" th:patientname="${patients.patient_name}"
                id="btnDelete" title="Delete this patient"
                class="fa-regular fa-trash-can icon-dark btn-delete"></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- No record message -->
    <div class="" th:unless="${patient.size() > 0}">
      <span>No record found!</span>
    </div>
  </div>

  <!-- Delete confirmation modal -->
  <div class="modal fade text-center" id="confirmModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <span id="confirmText"></span>
        </div>

        <div class="modal-footer">
          <a type="button" id="yesBtn" class="btn btn-danger">Yes</a>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>

  <div th:replace="fragments/footer :: footer"></div>

  <script type="text/javascript">
    $(document).ready(function () {
      // Delete button click event
      $(".btn-delete").on("click", function (e) {
        e.preventDefault();
        link = $(this);

        patientname = link.attr("patientname");
        $("#yesBtn").attr("href", link.attr("href"));
        $("#confirmText").html("Do you want to delete the  \<strong\>" + patientname + "\<\/strong\>?");
        $("#confirmModal").modal();
      });

      // Clear button click event
      $("#btnClear").on("click", function (e) {
        e.preventDefault();
        $("#keyword").text("");
        window.location = "[[@{/patient/list}]]";
      });
    });
  </script>

</body>

</html>